$primary-color: #00a783;
$primary-hover-color: #009978;
$secondary-color: #f89e16;
$secondary-hover-color: #cc7f0c;
$grey-color: #979797;
$dark-grey-color: #666666;
$placeholder-color: #6d6b6b;
$danger-color: #dc3545;
$white-color: #FFFFFF;
$black-color: #000000;
