// Color Palette
$PRIMARY: #009978;
$SECONDARY: #979797;
$WHITE: #ffffff;
$LIGHT_WHITE: #ffffffcc;
$BLACK: #000000;
$LIGHT_BLACK: #263238;
$PLACEHOLDER: #6d6b6b;
$DANGER: #d32f2f;
$DANGER_LIGHT: #d32f2f21;
$WARNING: #ebbc00;

// Background Colors
$BG_PRIMARY: #009978;
$BG_PRIMARY_LIGHT: #00997880;
$BG_LIGHT: #00997821;
$BG_WHITE: #ffffff;
$BG_DANGER: #d32f2f;
$BG_WARNING: #ebbc00;

// Shadow Colors
$SHADOW: #cbcbcb;

// Backdrop Colors
$BACKDROP: #000000b3;

$BORDER_LIGHT: #e3e3e3;
