$primary-color: #00a783;
$primary-hover-color: #009978;
$primary-light-color: #00a78380;
$bg-light-color: #00a78321;
$secondary-color: #979797;
$secondary-hover-color: #7a7a7a;
$light-black-color: #263238;
$dark-grey-color: #666666;
$placeholder-color: #6d6b6b;
$danger-color: #d32f2f;
$white-color: #ffffff;
$black-color: #000000;
$warning-color: #ebbc00;
