.link {
  color: $PRIMARY;
  font-weight: 500;
  &.decoration-none {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.grid {
  display: grid;
  align-items: stretch;
  gap: 15px;
}

.grid-lg-6 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-center-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Toastify__toast-container {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  padding: 5px;
  .Toastify__toast {
    min-height: 45px;
    border-radius: 5px;
    color: $WHITE;
  }
}

.Toastify__close-button--light {
  color: $WHITE;
}

// Alert

.alert {
  padding: 10px 20px;
  width: max-content;
  font-weight: 500;
  border-radius: 10px;
}

.alert-success {
  background-color: $BG_LIGHT;
  color: $PRIMARY;
}

.alert-danger {
  background-color: $BG_DANGER;
  color: $DANGER;
}

.tag {
  width: max-content;
  padding: 2px 5px;
  background-color: $BG_LIGHT;
  color: $PRIMARY;
  border-radius: 5px;
  font-size: $extra-small;
  font-weight: 500;
}

.text-hover-underline {
  position: relative;
  width: max-content;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: $BG_PRIMARY;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.75s ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
  }
}

.scrollbar-hover {
  margin: 2px;
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  &:hover {
    -webkit-mask-position: left top;
  }
}

.card {
  border: 2px solid $BORDER_LIGHT;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
  max-width: 300px;
  &:hover {
    border: 2px solid $PRIMARY;
    .card-header {
      .card-header_icon {
        background-color: $BG_LIGHT;
        .company-icon {
          fill: $PRIMARY;
        }
      }
    }
  }
  .card-header {
    max-height: 200px;
    overflow: hidden;
    .card-header_icon {
      background-color: $BORDER_LIGHT;
      position: relative;
      transition: all 0.3s;
      .company-icon {
        fill: $SECONDARY;
        transition: all 0.3s;
      }
    }
    .card-header_img {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .card-body {
    padding: 15px;
  }
  .card-footer {
    @include display-between;
    padding: 0 15px 15px;
  }
}

@media screen and (max-width: 992px) {
  .grid-md-12 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
