.link {
  color: $primary-color;
  font-weight: 500;
  &.decoration-none {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.grid {
  display: grid;
  align-items: stretch;
  gap: 15px;
}

.grid-lg-6 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.flex-column {
  flex-direction: column;
}

.Toastify__toast-container {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  padding: 5px;
  .Toastify__toast {
    min-height: 45px;
    border-radius: 5px;
    color: $white-color;
  }
}

.toast-success {
  background-color: $primary-color;
}

.toast-error {
  background-color: $danger-color;
}

.toast-warning {
  background-color: $warning-color;
}

.Toastify__close-button--light {
  color: $white-color;
}

@media screen and (max-width: 992px) {
  .grid-md-12 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .d-md-none {
    display: none;
  }
}
