.link {
  color: $primary-color;
  font-weight: 500;
  &.decoration-none {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.grid {
  display: grid;
  align-items: stretch;
  gap: 15px;
}

.grid-lg-6 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.flex-column {
  flex-direction: column;
}

.Toastify__toast-container {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  padding: 5px;
  .Toastify__toast {
    min-height: 45px;
    border-radius: 5px;
    color: $white-color;
  }
}

.Toastify__close-button--light {
  color: $white-color;
}

// Alert

.alert {
  padding: 10px 20px;
  width: max-content;
  font-weight: 500;
  border-radius: 10px;
}

.alert-success {
  background-color: $hover-color;
  color: $primary-color;
}

.alert-danger {
  background-color: $danger-hover-color;
  color: $danger-color;
}

.tag {
  width: max-content;
  padding: 2px 5px;
  background: $hover-color;
  color: $primary-color;
  border-radius: 5px;
  font-size: $extra-small;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .grid-md-12 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
