@mixin display-align-center {
  display: flex;
  align-items: center;
}

@mixin display-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin display-flex-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}