$xxx-large: 2.813rem; //45px
$xx-large: 2.25rem; //36px
$x-large: 1.875rem; //30px
$large: 1.75rem; //28px
$title: 1.5rem; //24px
$body: 1.125rem; //18px
$medium: 1rem; //16px
$small: 0.875rem; //14px
$placeholder: 0.875rem; //14px
