@import 'colorPalette';
@import 'typography';

/* Color Classes Start */

.text-primary {
  color: $PRIMARY;
}

.text-secondary {
  color: $SECONDARY;
}

.text-placeholder {
  color: $PLACEHOLDER;
}

.text-danger {
  color: $DANGER;
}

.text-default {
  color: $BLACK;
}

.text-light-black {
  color: $LIGHT_BLACK;
}

.text-white {
  color: $WHITE;
}

.text-light-white {
  color: $LIGHT_WHITE;
}

/* Color Classes END */

/* Font Size Classes Start */

.small {
  font-size: $small;
}

.extra-small {
  font-size: $extra-small;
}

.medium {
  font-size: $medium;
}

.large {
  font-size: $large;
}

.x-large {
  font-size: $x-large;
}

.xxx-large {
  font-size: $xxx-large;
}

.title {
  font-size: $title;
}

.subtitle {
  font-size: $subtitle;
}

.text-body {
  font-size: $body;
}

/* Font Size Classes End */

/* Cursor Classes Start */

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-default {
  cursor: default;
}

/* Cursor Classes End */

// Background
.bg-primary {
  background-color: $BG_PRIMARY !important;
}

.bg-primary-light {
  background-color: $BG_PRIMARY_LIGHT;
}

// Height and Width
.h-100 {
  height: 100%;
}

.mh-100 {
  min-height: 100%;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.mw-md {
  max-width: 992px;
}

.mw-mobile {
  max-width: 525px;
}

.mw-sm {
  max-width: 350px;
}

// Spacing
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem !important;
}

.mx-auto {
  margin: 0 auto;
}

.mx-1 {
  margin: 0 0.25rem 0 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mx-2 {
  margin: 0 0.5rem 0 0.5rem;
}

.my-2 {
  margin: 0.5rem 0 0.5rem 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.px-1 {
  padding: 0 0.25rem 0 0.25rem;
}

.p-24 {
  padding: 24px;
}

.p-50 {
  padding: 50px;
}

.py-50 {
  padding: 0 50px;
}

// Text
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-decoration-none {
  text-decoration: none;
}

.text-hover:hover {
  color: $PRIMARY;
}

// Font Weight

.bold {
  font-weight: bold;
}

.f-500 {
  font-weight: 500;
}

// Display

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.gap-0 {
  gap: 0 !important;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

// Toast

.toast-success {
  background-color: $BG_PRIMARY;
}

.toast-error {
  background-color: $BG_DANGER;
}

.toast-warning {
  background-color: $BG_WARNING;
}

// Other

.lh-0 {
  line-height: 0;
}

.position-relative {
  position: relative;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis-3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-ellipsis-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media screen and (max-width: 992px) {
  .xxx-large {
    font-size: $xx-large;
  }

  .x-large {
    font-size: $title;
  }

  .title {
    font-size: $subtitle;
  }

  .d-md-none {
    display: none;
  }

  .p-50 {
    padding: 24px;
  }

  .py-50 {
    padding: 24px;
  }
}
