.quiz-began {
  .quiz-began_box {
    .options {
      margin-top: 20px;
    }
    .error {
      min-height: 21px;
    }
    .controls {
      .Mui-disabled {
        border: 2px solid #00000042;
      }
    }
  }
}
