.quiz-began {
  .quiz-began_box {
    border: 2px solid $primary-color;
    padding: 24px;
    border-radius: 10px;
    margin-top: 20px;
    .options {
      background-color: $hover;
      padding: 10px 20px;
      border-radius: 10px;
      margin-top: 10px;
    }
    .controls {
      .Mui-disabled {
        border: 2px solid #00000042;
      }
    }
  }
}
